@import "../variables";

._bd-none {
    border: none
}

// Border width
@for $i from 0 through $border-max-width {

    $px: px;
    @if ($i == 0) {
        $px: null
    }

    ._bd-w-#{$i} {
        border-width: #{$i}#{$px}
    }
    ._bd-t-w-#{$i} {
        border-top-width: #{$i}#{$px}
    }
    ._bd-b-w-#{$i} {
        border-bottom-width: #{$i}#{$px}
    }
    ._bd-l-w-#{$i} {
        border-left-width: #{$i}#{$px}
    }
    ._bd-r-w-#{$i} {
        border-right-width: #{$i}#{$px}
    }

}

// Border color
$c: length($colors);
@for $i from 1 through $c {

    @if $i % 2 != 0 {

        $color: nth($colors, $i);
        $color-value: nth($colors, $i + 1);

        ._bd-c-#{$color} {
            border-color: #{$color-value}
        }
        ._bd-t-c-#{$color} {
            border-top-color: #{$color-value}
        }
        ._bd-l-c-#{$color} {
            border-left-color: #{$color-value}
        }
        ._bd-b-c-#{$color} {
            border-bottom-color: #{$color-value}
        }
        ._bd-r-c-#{$color} {
            border-right-color: #{$color-value}
        }

    }

}

// Border radius
@for $i from 0 through $border-max-radius {

    ._bd-rad-#{$i} {
        border-radius: unquote("#{$i}%")
    }
    ._bd-t-l-rad-#{$i} {
        border-top-left-radius: unquote("#{$i}%")
    }
    ._bd-t-r-rad-#{$i} {
        border-top-right-radius: unquote("#{$i}%")
    }
    ._bd-b-r-rad-#{$i} {
        border-bottom-right-radius: unquote("#{$i}%")
    }
    ._bd-b-l-rad-#{$i} {
        border-bottom-left-radius: unquote("#{$i}%")
    }

}

// Responsive

$count: length($breakpoints);

@for $i from 1 through $count {

    @if $i % 2 != 0 {

        $breakpoint: nth($breakpoints, $i);
        $breakpoint-value: nth($breakpoints, $i + 1);

        @media screen and (min-width: #{$breakpoint-value}) {

            ._#{$breakpoint}-bd-none {
                border: none
            }

            // Border width
            @for $i from 0 through $border-max-width {

                $px: px;
                @if ($i == 0) {
                    $px: null
                }

                ._#{$breakpoint}-bd-w-#{$i} {
                    border-width: #{$i}#{$px}
                }
                ._#{$breakpoint}-bd-t-w-#{$i} {
                    border-top-width: #{$i}#{$px}
                }
                ._#{$breakpoint}-bd-b-w-#{$i} {
                    border-bottom-width: #{$i}#{$px}
                }
                ._#{$breakpoint}-bd-l-w-#{$i} {
                    border-left-width: #{$i}#{$px}
                }
                ._#{$breakpoint}-bd-r-w-#{$i} {
                    border-right-width: #{$i}#{$px}
                }

            }

            // Border color
            $c: length($colors);
            @for $i from 1 through $c {

                @if $i % 2 != 0 {

                    $color: nth($colors, $i);
                    $color-value: nth($colors, $i + 1);

                    ._#{$breakpoint}-bd-c-#{$color} {
                        border-color: #{$color-value}
                    }
                    ._#{$breakpoint}-bd-t-c-#{$color} {
                        border-top-color: #{$color-value}
                    }
                    ._#{$breakpoint}-bd-l-c-#{$color} {
                        border-left-color: #{$color-value}
                    }
                    ._#{$breakpoint}-bd-b-c-#{$color} {
                        border-bottom-color: #{$color-value}
                    }
                    ._#{$breakpoint}-bd-r-c-#{$color} {
                        border-right-color: #{$color-value}
                    }

                }

            }

            // Border radius
            @for $i from 0 through $border-max-radius {

                ._#{$breakpoint}-bd-rad-#{$i} {
                    border-radius: unquote("#{$i}%")
                }
                ._#{$breakpoint}-bd-t-l-rad-#{$i} {
                    border-top-left-radius: unquote("#{$i}%")
                }
                ._#{$breakpoint}-bd-t-r-rad-#{$i} {
                    border-top-right-radius: unquote("#{$i}%")
                }
                ._#{$breakpoint}-bd-b-r-rad-#{$i} {
                    border-bottom-right-radius: unquote("#{$i}%")
                }
                ._#{$breakpoint}-bd-b-l-rad-#{$i} {
                    border-bottom-left-radius: unquote("#{$i}%")
                }

            }

        }

    }

}



