@import "../variables";

@for $i from 8 through $font-size-max {
    ._f-s-#{$i} {
        font-size: #{$i}px
    }
}

$c: length($colors);

@for $i from 1 through $c {

    @if $i % 2 != 0 {

        $color: nth($colors, $i);
        $color-value: nth($colors, $i + 1);

        ._f-c-#{$color} {
            color: #{$color-value}
        }

    }

}

// Responsive

$count: length($breakpoints);

@for $i from 1 through $count {

    @if $i % 2 != 0 {

        $breakpoint: nth($breakpoints, $i);
        $breakpoint-value: nth($breakpoints, $i + 1);

        @media screen and (min-width: #{$breakpoint-value}) {

            @for $i from 8 through $font-size-max {
                ._#{$breakpoint}-f-s-#{$i} {
                    font-size: #{$i}px
                }
            }

            $c: length($colors);

            @for $i from 1 through $c {

                @if $i % 2 != 0 {

                    $color: nth($colors, $i);
                    $color-value: nth($colors, $i + 1);

                    ._#{$breakpoint}-f-c-#{$color} {
                        color: #{$color-value}
                    }

                }

            }

        }

    }

}



