@import "../variables";

@each $item in $margin {

  $px: px;
  @if($item == auto){ $px: null}
  @if($item == 0){ $px: null}

  ._m-#{$item} { margin: #{$item}#{$px}}
  ._m-t-#{$item} { margin-top: #{$item}#{$px}}
  ._m-r-#{$item} { margin-right: #{$item}#{$px}}
  ._m-b-#{$item} { margin-bottom: #{$item}#{$px}}
  ._m-l-#{$item} { margin-left: #{$item}#{$px}}

}

// Responsive

$count: length($breakpoints);

@for $i from 1 through  $count{

  @if $i % 2 != 0 {

    $breakpoint: nth($breakpoints, $i);
    $breakpoint-value: nth($breakpoints, $i + 1);

    @media screen and (min-width: #{$breakpoint-value}) {

      @each $item in $margin {

        $px: px;
        @if($item == auto){ $px: null}
        @if($item == 0){ $px: null}

        ._#{$breakpoint}-m-#{$item} { margin: #{$item}#{$px}}
        ._#{$breakpoint}-m-t-#{$item} { margin-top: #{$item}#{$px}}
        ._#{$breakpoint}-m-r-#{$item} { margin-right: #{$item}#{$px}}
        ._#{$breakpoint}-m-b-#{$item} { margin-bottom: #{$item}#{$px}}
        ._#{$breakpoint}-m-l-#{$item} { margin-left: #{$item}#{$px}}

      }

    }

  }

}



