@import "../variables";

._hide{ display: none}
._show{ display: block}
._block{ display: block}
._flex{ display: flex}
._inline{ display: inline}
._inline-block{ display: inline-block}

._text-left { text-align: left}
._text-center { text-align: center}
._text-right { text-align: right}
._bold { font-weight: bolder}
._italic { font-style: italic}
._underline { text-decoration: underline}

._relative{ position: relative}
._absolute{ position: absolute}
._fixed{ position: fixed}

// Background color
$c: length($colors);
@for $i from 1 through $c {
  @if $i % 2 != 0 {
    $color: nth($colors, $i);
    $color-value: nth($colors, $i + 1);
    ._bg-c-#{$color} { background-color: #{$color-value}}
  }
}

// Responsive

$count: length($breakpoints);

@for $i from 1 through  $count{

  @if $i % 2 != 0 {

    $breakpoint: nth($breakpoints, $i);
    $breakpoint-value: nth($breakpoints, $i + 1);

    @media screen and (min-width: #{$breakpoint-value}) {

      // Display
      ._#{$breakpoint}-hide{ display: none}
      ._#{$breakpoint}-show{ display: block}
      ._#{$breakpoint}-block{ display: block}
      ._#{$breakpoint}-flex{ display: flex}
      ._#{$breakpoint}-inline{ display: inline}
      ._#{$breakpoint}-inline-block{ display: inline-block}

      // Text-align
      ._#{$breakpoint}-text-left { text-align: left}
      ._#{$breakpoint}-text-center { text-align: center}
      ._#{$breakpoint}-text-right { text-align: right}
      ._#{$breakpoint}-bold { font-weight: bolder}
      ._#{$breakpoint}-italic { font-style: italic}
      ._#{$breakpoint}-underline { text-decoration: underline}

      // Positions
      ._#{$breakpoint}-relative{ position: relative}
      ._#{$breakpoint}-absolute{ position: absolute}
      ._#{$breakpoint}-fixed{ position: fixed}

      // Background color
      $c: length($colors);
      @for $i from 1 through $c {
        @if $i % 2 != 0 {
          $color: nth($colors, $i);
          $color-value: nth($colors, $i + 1);
          ._#{$breakpoint}-bg-c-#{$color} { background-color: #{$color-value}}
        }
      }

    }

  }

}



