@import "../variables";

@each $item in $padding {

  $px: px;
  @if($item == auto){ $px: null}
  @if($item == 0){ $px: null}

  ._p-#{$item} { padding: #{$item}#{$px}}
  ._p-t-#{$item} { padding-top: #{$item}#{$px}}
  ._p-r-#{$item} { padding-right: #{$item}#{$px}}
  ._p-b-#{$item} { padding-bottom: #{$item}#{$px}}
  ._p-l-#{$item} { padding-left: #{$item}#{$px}}

}

// Responsive

$count: length($breakpoints);

@for $i from 1 through  $count{

  @if $i % 2 != 0 {

    $breakpoint: nth($breakpoints, $i);
    $breakpoint-value: nth($breakpoints, $i + 1);

    @media screen and (min-width: #{$breakpoint-value}) {

      @each $item in $padding {

        $px: px;
        @if($item == auto){ $px: null}
        @if($item == 0){ $px: null}

        ._#{$breakpoint}-p-#{$item} { padding: #{$item}#{$px}}
        ._#{$breakpoint}-p-t-#{$item} { padding-top: #{$item}#{$px}}
        ._#{$breakpoint}-p-r-#{$item} { padding-right: #{$item}#{$px}}
        ._#{$breakpoint}-p-b-#{$item} { padding-bottom: #{$item}#{$px}}
        ._#{$breakpoint}-p-l-#{$item} { padding-left: #{$item}#{$px}}

      }

    }

  }

}



