// Max column value
$max-boxes: 20;

// Border
$border-max-width: 10;
$border-max-radius: 50;

// Font
$font-size-max: 100;

// Margin and padding
$margin: 0 5 10 15 20 25 30 35 40 45 50 60 65 70 75 80 85 90 95 100 105 110 115 120 125 130 135 140 145 150 auto;
$padding: 0 5 10 15 20 25 30 35 40 45 50 60 65 70 75 80 85 90 95 100 105 110 115 120 125 130 135 140 145 150 auto;

// Breakpoints
$width-xs: 400px;  $width-sm: 768px;
$width-md: 992px;  $width-lg: 1200px;
$breakpoints: xs $width-xs sm $width-sm md $width-md lg $width-lg;

// Colors
$color-primary: #1E23B0;
$color-text-primary: #000118;
$color-text-secondary: #BCC8DE;
$color-hover: #3D42E2;
$color-background: #0A12E6;
$color-border: #BCC8DE;
$color-placeholder: #BCC8DE;
$color-inactive: #BCC8DE;
$color-white: #FFFFFF;
$color-background-body: #EDF1F2;

// Notification colors
$color-success: #007E33;
$color-warning: #FF8800;
$color-info: #0099CC;
$color-danger: #CC0000;
$color-error: #CC0000;

$transition-time: 0.3s;
$rotation-deg: 45deg;

$colors:
        primary $color-primary
        text $color-text-primary
        placeholder $color-placeholder
        'white' $color-white
        inactive $color-inactive
        success $color-success
        error $color-error
        danger $color-danger
        info $color-info
        warning $color-warning;
